body {
	overflow-y: hidden;
}
/* header navigation */
#headerIcon {
	margin: 5px 15px 5px 0;
}
.mySelect {
	color: white !important;
	text-shadow:3px 3px 4px white, -3px -3px 4px white !important;
	box-shadow:0px 0px 10px 0px white !important;
}
/* loaded content zone */
#contentWraper {
	widht: auto;
  height: 100vh;
  padding-top: 50px; /* top nav bar -- header */
}
#contentContainer {
	position:relative;
	overflow-y: auto;
	height: 100%;
	background-color:black;
}
footer {
  position: absolute;
  bottom: 0px;
  background-color: #f1f1f1;
  padding-top: 5px;
  border: 10px;
  height: 80px;
}
/* home */
.mostPopular-name {
  padding-top:3px !important;
  padding-bottom: 3px !important;
}
.mostPopular-body {
  padding: 3px 3px 3px 3px !important;
}
.mostPopular-body img {
  width:100%;
  height:100%;
}
	/* side nav */
.fixedPos {
	position: fixed;
}
.navTitle {
	text-align: center;
	color:white;
}
ul.wideList > li {
	width: 170px;
}
#myScrollspy {
	margin-top: 10px;
}
	/* loaded content information section */
.lightBG {
	background-color: white;
  padding: 5px 0 5px 0;
}
.loadedContentSection {
	min-height: 350px !important;
	background-color: #f1f1f1;
	margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.loadedContentSection > .image {
	float:left;
	margin: 15px 10px 10px 0px;
}
.loadedContentSection > .image > img {
	max-width: 320px;
	max-height: 320px;
  height:100%;
  width:100%;
  object-fit: scale-down;
}
.displayBlock {
	display: inline-block !important;
}
.displayFlex {
	display: flex !important;
}
/* carousel */
div.item > a > img {
	hight:300px;
	width:auto;
}
div.item {
	height: 300px;
}